body{
    background-color: black;
    color: white;
    margin: 0 auto;
}

#intro-title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.download {
    text-align: center;
    margin-top: 20px;
}

.download a {
    color: aquamarine;
    text-decoration: none;
    text-decoration: underline;
    font-size: 16px;
}

.intro-video {
    text-align: center;
    margin-top: 20px;
}

.intro-title-1 {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
}

.intro-text-1 {
    text-align: center;
    margin-top: 20px;
    font-size: 21px;
    color: gray
}

.intro-image-1 {
    text-align: center;
    margin-top: 20px;
}

.intro-image-2 {
    text-align: center;
    margin-top: 20px;
}

.intro-text-2 {
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
}

.logo {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 30px;
}